#como-apoyamos {
  @include container(100%);
  background-color: #0d9e49;
}
.apoyamos-desc {
  padding: 1em;
  h2 {
    color: white;
  }
  p {
    color: white;
  }
}
@include breakpoint ($mobile) {
  .apoyamos-desc{
    @include span(6);
  }
  .apoyamos-img {
    img {
      margin-top: 1em;
      margin-left: 2em;
    }
  }
}
@include breakpoint($tablet) {
  .apoyamos-img {
    img {
      margin-top: 1em;
      margin-left: 5em;
    }
  }
}
