footer {
  font-size: 0.8em;
  width: 100%;
  background-color: $gris-oscuro;
  .footer-sect {
    text-align: center;
    border-bottom: solid 1px lighten($gris-oscuro, 5%);
    padding: 1.5em;
    i {
      display: block;
      line-height: 1.2em;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
  a {
    color: darken($gris-claro, 3%);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  #footer-after {
    background-color: white;
    border-bottom: 5px solid $verde;
    color: $gris-oscuro;
    text-align: center;
    padding-top: 2em;
    .logo-footer {
      height: 120px;
    }
    p {
      margin: 1em auto;
      &:first-child {

      }
    }
    a {
      color: $gris-oscuro;
      &:hover {
        text-decoration: underline;
      }
    }
    i {
      color: red;
      margin: 0 0.3em;
    }
  }
  .copyright {
    .license {
      @include container(100%);
      max-width: 500px;
      margin: auto;
      border-bottom: 1px solid $gris-oscuro;
      p {
        @include span(9 at 4 of 12);
        text-align: left;
      }
      .license-img {
        @include span(3 of 12);
        img {
          width: 100%;
          padding-top: 1.5em;
        }
      }
    }
  }
}
@include breakpoint ($tablet) {
  footer {
    .footer-sect {
      @include span(3);
      border-bottom: none;
      border-left: solid 1px lighten($gris-oscuro, 5%);
      height: 300px;
      padding: 0 2em;
      &:last-child {
        border-right: solid 1px lighten($gris-oscuro, 5%);
      }
    }
  }
}
