#ayuda-footer {
  width: 100%;
  background-color: darken($gris-claro, 5%);
  color: lighten($gris-oscuro, 25%);
  .s-container {
    padding: 3em 0;
  }
  .ayuda-footer-s {
    padding: 0 0.5em 0 0;
    &:first-child {margin-bottom: 4em;}
  }
  h3, a {
    color: lighten($gris-oscuro, 25%);
  }
  a:hover {
    color: lighten($gris-oscuro, 5%);
  }
  i {
    font-size: 4em;
    float: left;
    margin:2rem 1rem;
  }
  @include breakpoint($mobile) {
    .ayuda-footer-s {
      @include span(6);
      padding: 0;
      margin-bottom: 0;
    }
  }
}
