body {
	background-color: $blanco;
  font-family: $sans-serif;
  background-color: $gris-claro;
}

h1 {
	color: $carbon;
}

h2 {
	color: $gris-oscuro;
}

h3 {
	color: $gris-oscuro;
}
h4 {
	color: $gris-oscuro;
}
