body {
  font-family: $parrafo;
  font-size: $main-font-size;
  overflow-x: hidden;
}

h1 {
	color: $carbon;
  font-family: $titular;
  font-weight: $bold;
}

h2, h3, h4 {
	color: $gris-oscuro;
  font-family: $titular;
  font-weight: $regular;
}
