@import '../bower_components/susy/sass/_susy';

$susy: (
  columns: 12,
  gutters: 1/4,
  output: float,
  gutter-position: split,
  math: fluid,
  flow: ltr,
  container: auto,
  container-position: center,
  last-flow: to,
  global-box-sizing: border-box,

  // debug: (
  //   image: show,
  //   color: rgba(#656, .25),
  //   output: foreground,
  //   toggle: top right,
  // ),

  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// $nav_susy_layout: layout(12 0 fluid float inside);
