// ***********************************
// CUSTOM FONTS
// ***********************************

@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}
@mixin btn-cta($color) {
  background-color: $color;
  color: white;
  padding: 0.5em 1em;
  display: table;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: $regular;
  margin-top: 3em;
  &:hover {
    background-color: lighten($color, 3%);
    box-shadow: 0 1px 2px darken($color, 5%);
  }
  &:active {
    box-shadow: inset 0 5px 5px darken($color, 3%);
  }
}
