// ***********************************
// CUSTOM FONTS
// ***********************************
@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            // Supportive icon styles required
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-family: 'Icons';
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}
@mixin btn-cta($color) {
  background-color: $color;
  color: white;
  padding: 0.5em 1em;
  display: table;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: $regular;
  margin-top: 3em;
  &:hover {
    background-color: lighten($color, 3%);
    box-shadow: 0 1px 2px darken($color, 5%);
  }
  &:active {
    box-shadow: inset 0 5px 5px darken($color, 3%);
  }
}
