.container {
    background-color: $blanco;
	margin: 1em auto;
	width: $container;
    padding: 2em;
  a {
    color: $azul;
    text-decoration: none;
    &:hover {
    color: darken($azul, 20%)
    }
  }
}

aside {
  h2 {
    font-size: 1.2em;
    color: $azul;
    font-family: $serif;
  } 
}
