// ***********************************
// VARIABLES
// ***********************************

// LAYOUT
$container: 1024px;

// COLOR
$carbon: #242424;
$gris-oscuro: #414141;
$gris-claro: #d8d8d8;
$azul: #1c56c3;
$rojo: #db1634;
$verde: #3f8812;
$blanco: #fff;

// TYPOGRAPHY
$main-font-size: 16px;
$sans-serif: Helvetica, Arial, sans-serif;
$serif: Times, serif;
