.info-er-sc.info-bg-blue
  .info-l
    h1 ¿Qué son las Enfermedades Raras?
  .info-l
    p No existe un concepto único de "Enfermedad Rara” aceptado por las instancias internacionales que trabajan en su favor, sin embargo un concepto válido puede ser el de la Comunidad Europea que considera que “una enfermedad rara es aquella cuya prevalencia es inferior a 5 casos por cada 10.000 personas.”
    br 
    | La mayoría de los casos aparecen a una edad temprana, en específico en la infancia. Esto se debe a la alta frecuencia de enfermedades de origen genético y de anomalías congénitas (anomalías que se presentan desde el embarazo).
    br
    | La Asociación para todos se ha dedicado por más de cinco años al apoyo de familias que tienen un caso de enfermedad rara o que aún no han recibido un diagnóstico.
.info-er-sc
  .info-l
    h2 ¿Qué es la genética?
    p Es el campo de la biología que busca comprender la herencia biológica que se transmite de generación en generación.
    br 
    |Una enfermedad o trastorno genético es una condición patológica causada por una alteración del genoma. Esta puede ser hereditaria o no, si el gen alterado está presente en los gametos (óvulos y espermatozoides) de la línea germinal, esta será hereditaria (pasará de generación en generación), por el contrario si sólo afecta a las células somáticas, no será heredada.
    .text-green
      p Los genes son segmentos del ADN, que definen características físicas en todos los seres vivos. El ADN se encuentra enrollado en sí mismo, formando cada uno de los 23 pares de cromosomas que posee el ser humano. Estos cromosomas están en el núcleo de todas las células de nuestro cuerpo. 
  .info-l
    img(src="img/genes.png" alt="Código genético")
.info-er-sc.info-bg-blue
  .info-l 
    h2 ¿Cómo se originan las Enfermedades Raras?
    p La mayor parte de las Enfermedades Raras de origen genético son causadas por alteraciones en los cromosomas, en los genes, o en las moléculas de los genes; aunque también pueden tener origen multifactorial.
  .gen-origin-container
    .gen-origin-box
      img(src="img/origin-mutacion.svg")
      h3 Mutación
      p Como por ejemplo muchos tipos de cáncer  
    .gen-origin-box
      img(src="img/origin-trisomia.svg")
      h3 Trisomía de cromosomas o duplicación de una región
      p Como el Síndrome de Down, o como el Síndrome del Cromosoma X Fráfil.
    .gen-origin-box
      img(src="img/origin-delecion.svg")
      h3 Deleción de una región del cromosoma o de un cromosoma completo
      p Como el Síndrome de Turner
.info-er-sc
  .info-l
    h2 Factores externos que pueden generar una Enfermedad Rara
    img(src="img/img-factores.png")
  .info-l
    p Existen factores predisponentes como: La edad de la madre,  las enfermedades o los medicamentos que toma la madre,  la consanguinidad en la pareja, la herencia.
    br
    | ¿Cuántas personas padecen ER?
    | Europa ha determinado que el 10  % de su población las padece,   - Guatemala aún no cuenta con un registro, menos con un presupuesto para su atención.-  Los esfuerzos que realiza la Asociación para Todos, se llevan a cabo  sin presupuesto estatal pero con el apoyo de múltiples personas y entidades se cuenta con un registro que se constituye en un aporte a la población guatemalteca
    
    
