#ayuda-footer
  .s-container
    .ayuda-footer-s
      i.i-book2
      h3 ¿Quieres saber más?
      p Puedes 
        a(href="#") consultar nuestros artículos
        |  sobre las Enfermedades Raras.
    .ayuda-footer-s
      i.i-lifebuoy
      h3 ¿Necesitas ayuda?
      p 
        a(href="#") Comunícate con nosotros
        |  si conoces a alguien que pueda padecer una Enfermedad Rara.
