#como-apoyamos
  .s-container
    .apoyamos-desc
      h2 ¿cómo apoyamos a las familias afectadas?
      p No existe un concepto único de "Enfermedad Rara” aceptado por las instancias internacionales que trabajan en su favor, sin embargo un concepto válido puede ser el de la Comunidad Europea que considera que “una enfermedad rara es aquella cuya prevalencia es inferior a 5 casos por cada 10.000 personas.”
