#como-ayudar
  .s-container
    .ayudar-info
      img(src="img/ayudar.jpg", alt="Ayuda a darle una mejor vida a un niño")
      h2 Ayuda a darle una mejor calidad de vida a un niño
      p La Asociación Para Todos es una organización civil no lucrativa, por lo que necesita de la colaboración de todos para poder seguir funcionando.
    .ayudar-cta
      i.fa.fa-money
      i.fa.fa-medkit
      i.fa.fa-shopping-basket
      p Puedes hacer una donación económica, de insumos, medicinas o ayudar como voluntario. Haz click en el botón de abajo para conocer más detalles.
      a(href="#") Quiero apoyar
#pre-footer
