#cuantas-hay
  .s-container
    .mapa-img
      img(src="img/mapa.gif", alt="Mapa de guatemala")
    .mapa-descripcion
      h2 ¿cuántas enfermedades raras hay en guatemala?
      p   Aunque son poco frequentes, existe una gran cantidad de Enfermedades Raras. Mundialmente se calcula que la cifra supera las 7000 enfermedades.
        br
        | En Guatemala, se calcula que el número de personas que pueden tener una Enfermedad Rara puede superar el millón. La Asociación Para Todos tiene registrados más de 450 pacientes, que representan más de 100 enfermedades distintas. 
        br
        | Puedes ingresar en el mapa para conocer la frequencia de las Enfermedades Raras en todos los departamentos del país. 
      a.mapa-cta(href="#") Ver el mapa
