footer
  .s-container
    .footer-sect
      h3 Infórmate
      p 
        a(href="#") Información sobre las ER
      p 
        a(href="#") Estadísticas
      p 
        a(href="#") ER registradas en Guatemala
      p 
        a(href="#") Atención directa
      p 
        a(href="#") Diagnóstico
      p 
        a(href="#") Términos & condiciones
    .footer-sect
      h3 participa
      p 
        a(href="#") Diplomados
      p 
        a(href="#") Eventos para recaudar fondos
      p 
        a(href="#") Colaboradores
      p 
        a(href="#") Actividades de divulgación
      p 
        a(href="#") Congreso anual
    .footer-sect
      h3 Apoya
      p
        a(href="#") Voluntariado
      p
        a(href="#") Donaciones de insumos
      p
        a(href="#") Apadrinamiento
    .footer-sect
      h3.footer-fix Contáctanos
      p
        a(href="#")
          i.i-phone
          |2251-8917
      p
        a(href="#")
          i.i-location
          |Avenida Juan Chapín 3-15, Zona 1 Ciudad de Guatemala
      p
        a(href="#")
          i.i-envelop
          |asociacionparatodos@gmail.com
      p
        a(href="#")
          i.i-user
          |¿Quiénes somos?
  #footer-after
    a(href="index.html")
      img.logo-footer(src="img/logo-v.png", alt="Asociación Para Todos")
    .copyright
      .license 
        .license-img
          a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
            img(alt="Licencia Creative Commons", style="border-width:0", src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png", target="_blank")
        p Excepto donde se especifique lo contrario, el contenido de este sitio web está bajo una 
          a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional.
      p 
        a(href="http://www.oniricaestudio.com", target="_blank") Diseñado y desarrollado con
          i.i-heart
          |por Onírica Estudio
