header.hero
  .hero-text
    h1 somos la voz de niños y jóvenes con enfermedades raras
    p La Asociación para todos se ha dedicado por más de cinco años al apoyo de familias que tienen un caso de enfermedad rara o que aún no han recibido un diagnóstico.
      br 
      b Juntos, podemos darle una mejor calidad de vida a muchos niños.
    a.hero-cta(href="#como-ayudar") Quiero apoyar
    a.conoce-mas(href="#que-son") Conoce más
      i.i-arrow-down
