#info-page-nav
  .s-container
    p
      a.info-nav.info-prev(href="#")
        i.i-arrow-left
        span Link a la página anterior
      a.info-nav.info-menu(href="#") Menú
      a.info-nav.info-next(href="#") 
        span Link a la página siguiente
        i.i-arrow-right
        
