nav
  .navbar
    a.btn-menu-toggle(href="#") 
      i.fa.fa-bars 
      |menu
    a(href="index.html")
      img(src="img/logo.svg")    
    .menu-mobile
      ul
        li.menu-search
          .li-search-box
            a(href="#")
              i.fa.fa-search
            form
              input(type="text", class="search-box" placeholder="Buscar")
        li.nav-first
          a.nav-toggle(href="#") enfermedades raras
          .nav-second
            ul
              li
               a(href="er.html") ¿Qué son las ER?
              li
               a(href="lista-er.html") Lista de ER registradas
            i.fa.fa-stethoscope
        li.nav-first
          a.nav-toggle(href="#") servicios
          .nav-second
            ul
              li
                a(href="#") atención directa
              li
                a(href="#") grupo de apoyo
              li
                a(href="#") apoyo legal
              li
                a(href="#") incidencia, educación y divulgación
            i.fa.fa-briefcase
        li.nav-first
          a.nav-toggle(href="#") actualidad
          .nav-second
            ul
              li
                a(href="#") noticias
              li
                a(href="#") diplomados
              li
                a(href="#") actividades
              li
                a(href="#") congreso internacional de ER
            i.fa.fa-newspaper-o 
        li.nav-first
          a.nav-toggle(href="#") asociación
          .nav-second
            ul
              li
                a(href="#") ¿Quiénes somos?
              li
                a(href="#") Médicos colaboradores
              li
                a(href="#") Publicaciones y estudios
              li
                a(href="#") Testimonios
            i.fa.fa-building-o
        li.nav-donar 
          a(href="#") donar
