nav
  .navbar.nav-down
    a.btn-menu-toggle(href="#") 
      i.i-menu
      |menu
    a(href="index.html")
      img(src="img/logo.svg")    
    .menu-mobile
      ul
        li.menu-search
          .li-search-box
            a(href="#")
              i.i-search
            form
              input(type="text", class="search-box" placeholder="Buscar")
        li.nav-first
          a.nav-toggle(href="#") enfermedades raras
          .nav-second
            ul
              li
               a(href="info-page-er.html") ¿Qué son las ER?
              li
               a(href="cuantas-er-hay.html") Lista de ER registradas
            i.i-stethoscope
        li.nav-first
          a.nav-toggle(href="#") servicios
          .nav-second
            ul
              li
                a(href="template-info.html") atención directa
              li
                a(href="template-info.html") grupo de apoyo
              li
                a(href="template-info.html") apoyo legal
              li
                a(href="template-info.html") incidencia, educación y divulgación
            i.i-store
        li.nav-first
          a.nav-toggle(href="#") actualidad
          .nav-second
            ul
              li
                a(href="noticias.html") noticias
              li
                a(href="template-info.htmtemplate-info.html") diplomados
              li
                a(href="template-info.htmtemplate-info.html") actividades
              li
                a(href="template-info.htmtemplate-info.html") congreso internacional de ER
            i.i-newspaper
        li.nav-first
          a.nav-toggle(href="#") asociación
          .nav-second
            ul
              li
                a(href="template-info.html") ¿Quiénes somos?
              li
                a(href="template-info.html") Médicos colaboradores
              li
                a(href="template-info.html") Publicaciones y estudios
              li
                a(href="template-info.html") Testimonios
            i.i-library
        li.nav-donar 
          a(href="#") donar
