.news-feed
  article.news-post
    img(src="img/post-1.jpg")
    .post-info
      .date
        p abril
        p 25
      a.post-title(href="#")
        h2 Grandes avances en el proyecto de inserción laboral
    .post-preview
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
        a.seguir-leyendo(href="#") Seguir leyendo 
          i.i-arrow-right
    .post-foot
      p 
        a(href="#") Publicado el: 25/04/2015
      p 
        a(href="#") Por: Dra. María Ofelia
  article.news-post
    img(src="img/post-2.jpg")
    .post-info
      .date
        p abril
        p 25
      a.post-title(href="#") 
        h2 Diplomados en San Juan Sacatepéquez capacitan a más de 100 maestros
    .post-preview
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
        a.seguir-leyendo(href="#") Seguir leyendo 
          i.i-arrow-right
    .post-foot
      p 
        a(href="#") Publicado el: 25/04/2015
      p 
        a(href="#") Por: Dra. María Ofelia
