aside.news-aside
  .news-categories
    h3 Categorías
    ul
      li
        a(href="#") Todas
      li
        a(href="#") Atención Directa
      li
        a(href="#") Diplomados
      li
        a(href="#") Eventos
      li
        a(href="#") Celebraciones
      li
        a(href="#") Divulgación
  .popular-posts
    h3 Entradas populares
    .popular-p
      img(src="img/popular-1.jpg", alt="Entradas Populares")
      h4  Bazar para el apoyo de la Asociación
      p El domingo 30 de Agosto se realizó un bazar para apoyar a la Asociación. La entrega, dedicación y entusiasmo de todos los participantes fue asombrosa...
        a.seguir-leyendo(href="") Seguir leyendo 
          i.i-arrow-right
