#que-son
  .s-container
    img.er-img(src="img/que-son.gif" alt="las enfermedades raras son principalmente genéticas")
    .er-descripcion
      h2 ¿Qué son las enfermedades raras?
      p La Comunidad Europea considera que “una enfermedad rara es aquella cuya prevalencia es inferior a 5 casos por cada 10.000 personas.” 
        br
        | La mayoría de los casos aparecen a una edad temprana, en específico en la infancia. Esto se debe a la alta frecuencia tde enfermedades de origen genético y de anomalías congénitas (anomalías que se presentan desde el embarazo).
      a.er-cta(href="#") Leer más
