#container-srv
	.s-container
		.servicio
			img(src="img/atencion.svg")
			h3 atencion directa
			p Lorem ipsum dolor sit amet, consectetur 	adipisicing elit, sed do eiusmod tempor 	incididunt ut labore et dolore magna aliqua.
			a.btn-srv-co(href="#") Ver más
		.servicio
			img(src="img/fortalecimiento.svg")
			h3 fortalecimiento familiar
			p Lorem ipsum dolor sit amet, consectetur 	adipisicing elit, sed do eiusmod tempor 	incididunt ut labore et dolore magna aliqua.
			a.btn-srv-co(href="#") Ver más
		.servicio
			img(src="img/incidencia.svg")
			h3 incidencia, educación y divulgación
			p Lorem ipsum dolor sit amet, consectetur 	adipisicing elit, sed do eiusmod tempor 	incididunt ut labore et dolore magna aliqua.
			a.btn-srv-co(href="#") Ver más
		.servicio
			img(src="img/colaboradores.svg")
			h3 colaboradores
			p Lorem ipsum dolor sit amet, consectetur 	adipisicing elit, sed do eiusmod tempor 	incididunt ut labore et dolore magna aliqua.
			a.btn-srv-co(href="#") Ver más
