doctype html
html
	head
		title Prueba
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/style.css")
		
	body
		.container
			nav
				ul
					li
						a(href="#") link 1
					li
						a(href="#") link 2
					li
						a(href="#") link 3
				h1 Título H1
			
