doctype html
html
	include partials/head.jade
	body
		include partials/nav.jade
		.page-wrap
			include partials/servicios.jade
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="js/main.min.js")
